source [find interface/jlink.cfg]
transport select swd
adapter speed 2000

# Explicitly declare the RP2040 multidrop hardware station ID before loading the target
# swd newdap rp2040 cpu -expected-id 0x01041001

# source [find target/rp2040-core0.cfg]
reset_config none
set USE_CORE 0
source [find target/rp2040.cfg]
